.container-md {
  position: relative;
  width: 800px;
  margin-right: auto;
  margin-left: auto; }

@media all and (max-width: 1200px) {
  .container-layout {
    width: 100%; } }

@media all and (min-width: 1200px) {
  .container-layout {
    margin-left: 10%;
    width: 90%; } }

.form-shadow {
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  background-color: grey;
  opacity: 0.2;
  z-index: 10000; }

#createOrgForm > div {
  display: flex;
  justify-content: flex-end; }

#createOrgForm .input-group {
  height: 100%; }

#organizationForm .nav-tabs .nav-item {
  width: 33.33%;
  text-align: center; }
  #organizationForm .nav-tabs .nav-item .nav-link {
    color: black; }

#organizationForm #orgFormActions .nav-connected-tabs .nav-connected-tab {
  height: 100%; }
  #organizationForm #orgFormActions .nav-connected-tabs .nav-connected-tab input {
    height: 100%; }

#organizationForm #orgFormActions #respsOrgForm button {
  height: 100%; }

#organizationForm #orgFormActions #removeOrgForm #removeOrgBtn {
  height: 100%; }

#organizationForm #orgFormActions #leaveOrgForm #leaveOrgBtn {
  height: 100%; }

#organizationForm #orgFormHeader .col-auto:first-child {
  visibility: hidden; }

#organizationForm .nav-tabs .nav-item:last-child {
  width: 33.34% !important; }

#employeeForm > div:first-child > h3,
#positionForm > div:first-child > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  max-height: 100px; }

#accountsForm .nav-tabs .nav-item,
#positionForm .nav-tabs .nav-item,
#employeeForm .nav-tabs .nav-item,
#notSettingsForm .nav-tabs .nav-item {
  width: 50%; }

#quotesForm .nav-tabs .nav-item {
  width: 33.33%; }

#employeeForm .nav-tabs .nav-item,
#accountsForm .nav-tabs .nav-item,
#quotesForm .nav-tabs .nav-item,
#positionForm .nav-tabs .nav-item,
#notSettingsForm .nav-tabs .nav-item {
  text-align: center;
  margin-top: 20px; }

#employeeForm .nav-link,
#accountsForm .nav-link,
#quotesForm .nav-link,
#positionForm .nav-link,
#notSettingsForm .nav-link {
  color: black; }

#positionForm #positionsHierarchy {
  max-height: 600px; }
  #positionForm #positionsHierarchy .position-hierarchy-item {
    position: relative;
    width: 250px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 4px; }
  #positionForm #positionsHierarchy .position-hierarchy-item:not(.position-current-item) {
    cursor: pointer; }
    #positionForm #positionsHierarchy .position-hierarchy-item:not(.position-current-item) .position-hierarchy-link {
      position: absolute;
      height: 100%;
      width: 100%; }
      #positionForm #positionsHierarchy .position-hierarchy-item:not(.position-current-item) .position-hierarchy-link a {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 100; }
  #positionForm #positionsHierarchy .position-hierarchy-item-label {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }
    #positionForm #positionsHierarchy .position-hierarchy-item-label > div:first-child {
      width: 40px;
      height: 30px; }
      #positionForm #positionsHierarchy .position-hierarchy-item-label > div:first-child .oval-mark {
        position: relative;
        z-index: 150;
        margin-left: 8px;
        margin-top: 3px; }
    #positionForm #positionsHierarchy .position-hierarchy-item-label > div:last-child {
      width: 80%;
      height: 30px; }
      #positionForm #positionsHierarchy .position-hierarchy-item-label > div:last-child > p {
        text-overflow: ellipsis;
        overflow-x: hidden; }
  #positionForm #positionsHierarchy .position-hierarchy-item:not(.position-current-item):hover, #positionForm #positionsHierarchy .position-current-item {
    box-shadow: 0px 8px 14px rgba(149, 155, 161, 0.2), 0px 0px 2px rgba(149, 155, 161, 0.6);
    background: #FFFFFF;
    border: 1px solid rgba(149, 155, 161, 0.6); }
  #positionForm #positionsHierarchy .positions-connector {
    position: absolute;
    height: calc(100% - 130px);
    width: 2px;
    background: linear-gradient(0deg, #008C95, #008C95), #FFFFFF;
    left: 20px;
    z-index: 150;
    top: 20px; }

#positionForm #positionUpdateForm #positionFields .col {
  min-width: 100%; }

#positionForm #positionActions > div {
  height: 100%; }
  #positionForm #positionActions > div > button, #positionForm #positionActions > div a {
    height: 60px; }

@media all and (max-width: 768px) {
  #positionActions > div > button, #positionActions > div a {
    height: 60px; } }

@media all and (min-width: 768px) {
  #positionForm #positionActions > div > button, #positionForm #positionActions > div a {
    height: 50px; } }

#employeeForm #employeeActions > div > button, #employeeForm #employeeActions > div a {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; }

#employeeForm #employeeAdditionActions button {
  height: 40px; }

@media all and (max-width: 768px) {
  #employeeForm #employeeActions > div > button {
    height: 60px; } }

@media all and (min-width: 768px) {
  #employeeForm #employeeActions > div > button, #employeeForm #employeeActions > div a {
    height: 100%; } }

#accountForm input[type="number"]::-webkit-outer-spin-button,
#accountForm input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#accountForm #accountActions .row {
  height: 100%; }

#accountForm .radio-tabs .block-center {
  height: 100%;
  min-width: 100px; }

#accountForm #accountTeam {
  min-width: 270px; }
  #accountForm #accountTeam #accountTeamList {
    max-height: 400px;
    overflow-y: auto;
    margin-left: 10px;
    margin-right: 10px; }
    #accountForm #accountTeam #accountTeamList .list-group .account-manager {
      height: 110px; }
      #accountForm #accountTeam #accountTeamList .list-group .account-manager > div > h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      #accountForm #accountTeam #accountTeamList .list-group .account-manager small {
        position: absolute;
        max-width: 90%;
        overflow-x: hidden;
        text-overflow: ellipsis; }
  #accountForm #accountTeam #showAllManagers {
    line-height: 40px;
    cursor: pointer; }

#changePrimaryContact {
  display: none; }

#responsibilityHeader > div {
  width: 100%; }
  #responsibilityHeader > div > div {
    height: 40px; }
    #responsibilityHeader > div > div #orgName {
      overflow-x: hidden;
      text-overflow: ellipsis;
      height: 100%; }

#responsibilityForm > div .resp-setting-group {
  margin-bottom: 15px; }
  #responsibilityForm > div .resp-setting-group > div h3 {
    margin: 0; }
  #responsibilityForm > div .resp-setting-group .switch {
    margin-top: 6px; }
  #responsibilityForm > div .resp-setting-group .resp-setting-group-expand {
    position: relative;
    padding-right: 0; }
    #responsibilityForm > div .resp-setting-group .resp-setting-group-expand > .group-expand-icon {
      transform: rotate(90deg);
      margin-top: 4px;
      cursor: pointer; }

#responsibilityForm > div .resp-setting {
  background: #FFFFFF;
  padding-bottom: 10px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16); }
  #responsibilityForm > div .resp-setting > div:first-child {
    user-select: none; }
    #responsibilityForm > div .resp-setting > div:first-child p {
      line-height: 40px;
      margin: 0; }
  #responsibilityForm > div .resp-setting .switch {
    margin-top: 10px; }

#responsibilityForm #responsibilityActions #updateResp, #responsibilityForm #responsibilityActions #cancelUpdateResp {
  height: 100%;
  width: 100%; }

@media (min-width: 1000px) {
  #responsibilityForm {
    width: 40%;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 800px) {
  #responsibilityForm {
    width: 60%;
    margin-left: auto;
    margin-right: auto; } }

@media all and (max-width: 800px) {
  .has-no-permissions-form .row .col:first-child {
    display: none; } }

.org-invite-not {
  position: relative; }
  .org-invite-not .row .flex-grow-0 {
    position: relative; }
  .org-invite-not .row .col-lg > p > a {
    text-decoration: none; }
  .org-invite-not .row .col-lg > p > a:hover {
    border-bottom: 2px solid #0366d6; }
  .org-invite-not .row .col-lg > .btn {
    height: 35px;
    padding: 0;
    overflow-y: hidden;
    cursor: pointer; }
    .org-invite-not .row .col-lg > .btn > p {
      margin: 0;
      line-height: 33px; }

.notification-item .alert-not-light {
  border-color: #c6c8ca; }

@media all and (max-width: 800px) {
  #lockPositionForm {
    width: 100%; }
  #notSettingsForm {
    width: 90%;
    margin: auto; } }

@media all and (min-width: 800px) {
  #lockPositionForm {
    width: 70%;
    margin: auto; }
  #notSettingsForm {
    width: 70%;
    margin: auto; } }

#productCategoriesForm #productCategoriesTree {
  width: 95%;
  margin: auto;
  overflow-x: auto; }
  #productCategoriesForm #productCategoriesTree .category-row {
    width: 100%; }
    #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line {
      width: 100%;
      margin: 0;
      display: inline-flex;
      white-space: nowrap; }
      #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line .category-expand,
      #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line .category-collapse {
        cursor: pointer; }
      #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line .category-name {
        text-align: center; }
        #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line .category-name p {
          margin: 0;
          user-select: none; }
      #productCategoriesForm #productCategoriesTree .category-row .category-row-main-line .searched-category-name {
        color: #28a745; }
  #productCategoriesForm #productCategoriesTree .category-row:last-child {
    margin-bottom: 10px; }
  #productCategoriesForm #productCategoriesTree .categories-empty {
    margin: auto; }
    #productCategoriesForm #productCategoriesTree .categories-empty > div:last-child {
      text-align: center; }

@media all and (max-width: 768px) {
  .categories-empty {
    width: 100%; }
    .categories-empty > div:first-child {
      display: none; }
    .categories-empty > div:last-child {
      width: 100%;
      text-align: center; } }

@media all and (min-width: 768px) {
  .categories-empty {
    width: 80%; } }

@media all and (min-width: 800px) {
  #productCategoriesFilter .row {
    width: 80%;
    margin: auto; } }

.register-form-wrapper {
  overflow-x: auto; }
  .register-form-wrapper .register-form {
    position: relative;
    margin-right: auto;
    margin-left: auto; }
    .register-form-wrapper .register-form .register-nav .nav-item {
      cursor: pointer;
      user-select: none;
      width: 50%;
      text-align: center; }
      .register-form-wrapper .register-form .register-nav .nav-item a {
        color: black; }
    .register-form-wrapper .register-form .login-body {
      border: 1px solid lightgray;
      border-top: none;
      padding: 20px;
      min-height: 400px; }
      .register-form-wrapper .register-form .login-body #login .user-avatar {
        text-align: center;
        color: grey;
        font-size: 120px;
        text-align: center; }
      .register-form-wrapper .register-form .login-body #login form .form-group:last-of-type .col:last-child, .register-form-wrapper .register-form .login-body #signup form .form-group:last-of-type .col:last-child {
        text-align: right; }
      .register-form-wrapper .register-form .login-body #login form .form-group .under-field-error, .register-form-wrapper .register-form .login-body #signup form .form-group .under-field-error {
        overflow-wrap: break-word;
        margin-top: 20px;
        margin-left: -10px; }
      .register-form-wrapper .register-form .login-body #login form .form-group .col, .register-form-wrapper .register-form .login-body #signup form .form-group .col {
        width: 50%; }
      .register-form-wrapper .register-form .login-body #login #loginActions > .row > .col-md {
        height: 40px; }
        .register-form-wrapper .register-form .login-body #login #loginActions > .row > .col-md #loginBtn, .register-form-wrapper .register-form .login-body #login #loginActions > .row > .col-md #resetPasswordBtn {
          height: 100%;
          max-width: 100%;
          min-width: 180px;
          cursor: pointer; }
