.container-md {
    position: relative;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

@media all and (max-width: 1200px) {
    .container-layout {
        width: 100%
    }
}

@media all and (min-width: 1200px) {
    .container-layout {
        margin-left: 10%;
        width: 90%
    }
}

.form-shadow {
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: grey;
    opacity: 0.2;
    z-index: 10000;
}

#createOrgForm {
    > div {
        display: flex;
        justify-content: flex-end
    }

    .input-group {
        height: 100%;
    }
}

#organizationForm {
    .nav-tabs .nav-item {
        width: 33.33%;
        text-align: center;

        .nav-link {
            color: black
        }
    }

    #orgFormActions {
        .nav-connected-tabs {
            .nav-connected-tab {
                height: 100%;

                input {
                    height: 100%;
                }
            }
        }

        #respsOrgForm {
            button {
                height: 100%
            }
        }

        #removeOrgForm {
            #removeOrgBtn {
                height: 100%
            }
        }

        #leaveOrgForm {
            #leaveOrgBtn {
                height: 100%
            }
        }
    }

    #orgFormHeader {
        .col-auto:first-child {
            visibility: hidden
        }
    }

    .nav-tabs .nav-item:last-child {
        width: 33.34% !important;
    }
}

#employeeForm > div:first-child,
#positionForm > div:first-child {
    > h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        max-height: 100px
    }
}

#accountsForm,
#positionForm,
#employeeForm,
#notSettingsForm {
    .nav-tabs .nav-item {
        width: 50%;
    }
}

#quotesForm {
    .nav-tabs .nav-item {
        width: 33.33%;
    }
}

#employeeForm,
#accountsForm,
#quotesForm,
#positionForm,
#notSettingsForm {
    .nav-tabs .nav-item {
        text-align: center;
        margin-top: 20px;
    }

    .nav-link {
        color: black
    }
}

#positionForm {
    #positionsHierarchy {
        max-height: 600px;

        .position-hierarchy-item {
            position: relative;
            width: 250px;
            height: 130px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid transparent;
            background: transparent;
            border-radius: 4px;
        }

        .position-hierarchy-item:not(.position-current-item) {
            cursor: pointer;

            .position-hierarchy-link {
                position: absolute;
                height: 100%;
                width: 100%;

                a {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    z-index: 100
                }
            }
        }

        .position-hierarchy-item-label {
            width: 100%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;

            > div:first-child {
                width: 40px;
                height: 30px;

                .oval-mark {
                    position: relative;
                    z-index: 150;
                    margin-left: 8px;
                    margin-top: 3px
                }
            }

            > div:last-child {
                width: 80%;
                height: 30px;

                > p {
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                }
            }
        }

        .position-hierarchy-item:not(.position-current-item):hover, .position-current-item {
            box-shadow: 0px 8px 14px rgba(149, 155, 161, 0.2), 0px 0px 2px rgba(149, 155, 161, 0.6);
            background: #FFFFFF;
            border: 1px solid rgba(149, 155, 161, 0.6);
        }

        .positions-connector {
            position: absolute;
            height: calc(100% - 130px);
            width: 2px;
            background: linear-gradient(0deg, #008C95, #008C95), #FFFFFF;
            left: 20px;
            z-index: 150;
            top: 20px;
        }
    }

    #positionUpdateForm {
        #positionFields {
            .col {
                min-width: 100%;
            }
        }
    }

    #positionActions {
        > div {
            height: 100%;

            > button, a {
                height: 60px
            }
        }
    }
}

@media all and (max-width: 768px) {
    #positionActions {
        > div {
            > button, a {
                height: 60px
            }
        }
    }
}

@media all and (min-width: 768px) {
    #positionForm {
        #positionActions {
            > div {
                > button, a {
                    height: 50px
                }
            }
        }
    }
}

#employeeForm {
    #employeeActions {
        > div {
            > button, a {
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    #employeeAdditionActions {
        button {
            height: 40px
        }
    }
}

@media all and (max-width: 768px) {
    #employeeForm {
        #employeeActions {
            > div {
                > button {
                    height: 60px;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    #employeeForm {
        #employeeActions {
            > div {
                > button, a {
                    height: 100%;
                }
            }
        }
    }
}

#accountForm {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #accountActions .row {
        height: 100%
    }

    .radio-tabs {
        .block-center {
            height: 100%;
            min-width: 100px
        }
    }

    #accountTeam {
        min-width: 270px;


        #accountTeamList {
            max-height: 400px;
            overflow-y: auto;
            margin-left: 10px;
            margin-right: 10px;

            .list-group {
                .account-manager {
                    height: 110px;

                    > div > h5 {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    small {
                        position: absolute;
                        max-width: 90%;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        #showAllManagers {
            line-height: 40px;
            cursor: pointer
        }
    }
}

#changePrimaryContact {
    display: none
}

#responsibilityHeader {
    > div {
        width: 100%;

        > div {
            height: 40px;

            #orgName {
                overflow-x: hidden;
                text-overflow: ellipsis;
                height: 100%;
            }
        }
    }
}

#responsibilityForm {
    > div {
        .resp-setting-group {
            margin-bottom: 15px;

            > div h3 {
                margin: 0;
            }

            .switch {
                margin-top: 6px
            }
        }

        .resp-setting {
            background: #FFFFFF;
            padding-bottom: 10px;
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);

            > div:first-child {
                user-select: none;

                p {
                    line-height: 40px;
                    margin: 0
                }
            }

            .switch {
                margin-top: 10px
            }
        }
    }

    #responsibilityActions {
        #updateResp, #cancelUpdateResp {
            height: 100%;
            width: 100%
        }
    }
}

@media (min-width: 1000px) {
    #responsibilityForm {
        width: 40%;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 800px) {
    #responsibilityForm {
        width: 60%;
        margin-left: auto;
        margin-right: auto
    }
}

@media all and (max-width: 800px) {
    .has-no-permissions-form {
        .row {
            .col:first-child {
                display: none
            }
        }
    }
}

.org-invite-not {
    position: relative;

    .row {
        .flex-grow-0 {
            position: relative
        }

        .col-lg {
            > p {
                > a {
                    text-decoration: none
                }

                > a:hover {
                    border-bottom: 2px solid #0366d6
                }
            }

            > .btn {
                height: 35px;
                padding: 0;
                overflow-y: hidden;
                cursor: pointer;

                > p {
                    margin: 0;
                    line-height: 33px;
                }
            }
        }
    }
}

.notification-item {
    .alert-not-light {
        border-color: #c6c8ca;
    }
}

@media all and (max-width: 800px) {
    #lockPositionForm {
        width: 100%
    }

    #notSettingsForm {
        width: 90%;
        margin: auto
    }
}

@media all and (min-width: 800px) {
    #lockPositionForm {
        width: 70%;
        margin: auto
    }

    #notSettingsForm {
        width: 70%;
        margin: auto;
    }
}

#productCategoriesForm {
    #productCategoriesTree {
        width: 95%;
        margin: auto;
        overflow-x: auto;

        .category-row {
            width: 100%;

            .category-row-main-line {
                width: 100%;
                margin: 0;
                display: inline-flex;
                white-space: nowrap;

                .category-expand,
                .category-collapse {
                    cursor: pointer;
                }

                .category-name {
                    text-align: center;

                    p {
                        margin: 0;
                        user-select: none;
                    }
                }

                .searched-category-name {
                    color: #28a745
                }
            }
        }

        .category-row:last-child {
            margin-bottom: 10px
        }

        .categories-empty {
            margin: auto;

            > div:last-child {
                text-align: center;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .categories-empty {
        width: 100%;

        > div:first-child {
            display: none
        }

        > div:last-child {
            width: 100%;
            text-align: center;
        }
    }
}

@media all and (min-width: 768px) {
    .categories-empty {
        width: 80%
    }
}

@media all and (min-width: 800px) {
    #productCategoriesFilter {
        .row {
            width: 80%;
            margin: auto
        }
    }
}

.register-form-wrapper {
    overflow-x: auto;

    .register-form {
        position: relative;
        margin-right: auto;
        margin-left: auto;

        .register-nav {
            .nav-item {
                cursor: pointer;
                user-select: none;
                width: 50%;
                text-align: center;

                a {
                    color: black
                }
            }
        }

        .login-body {
            border: 1px solid lightgray;
            border-top: none;
            padding: 20px;
            min-height: 400px;

            #login {
                .user-avatar {
                    text-align: center;
                    color: grey;
                    font-size: 120px;
                    text-align: center
                }
            }

            #login, #signup {
                form {
                    .form-group:last-of-type .col:last-child {
                        text-align: right;
                    }

                    .form-group {
                        .under-field-error {
                            overflow-wrap: break-word;
                            margin-top: 20px;
                            margin-left: -10px
                        }

                        .col {
                            width: 50%;
                        }
                    }
                }
            }

            #login {
                #loginActions {
                    > .row {
                        > .col-md {
                            height: 40px;

                            #loginBtn, #resetPasswordBtn {
                                height: 100%;
                                max-width: 100%;
                                min-width: 180px;
                                cursor: pointer
                            }
                        }
                    }
                }
            }
        }
    }
}