#organizationsList {
    .organization-item {
        cursor: pointer;
        position: relative;

        a {
            text-decoration: none;
            color: black;
            font-size: 16px
        }

        a:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 40px;
            width: 100%;
            background-color: transparent
        }
    }
}

#divisionsList,
#positionsList,
#employeesList,
#employeePositionsList,
#positionEmpList,
#allAccounts,
#currentAccounts,
#employeeSubordinatesList,
#positionSubPosList {
    .division-item,
    .position-item,
    .employee-item,
    .employee-position-item,
    .position-employee-item,
    .account-item,
    .subordinate-item,
    .position-subpos-item {
        position: relative;

        > a {
            color: black;
        }

        > a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 40px;
            width: 100%;
            background-color: transparent
        }
    }
}

.not-settings-list-empty {
    margin: auto;
    .row {
        width: 70%;
        margin: auto
    }
}

.not-settings-list,
#userNotSettingsList {
    margin: auto;

    .not-setting-group {
        background: #FFFFFF;
        padding-bottom: 10px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);

        .label-bold-lg {
            margin: 0
        }

        .arrow-toggler {
            cursor: pointer;
        }
    }

    .not-settings {
        .not-setting {
            padding-bottom: 10px;

            > div:first-child {
                user-select: none;

                p {
                    line-height: 40px;
                    margin: 0
                }
            }


            .not-setting-options {
                height: 36px;

                > .row {
                    height: 100%;

                    .col {
                        height: 100%
                    }
                }

                .cogs {
                    position: relative;
                    margin-top: 6px;
                }
            }

            .switch {
                margin-top: 10px
            }
        }
    }
}

#notSettingsActions {
    width: 100%;
}

@media (max-width: 800px) {
    .update-not-setting,
    .cancel-update-not-setting {
        width: 75%
    }

    .not-settings-list-empty {
        .row {
            .col:first-child {
                display: none;
            }
        }
    }
}

@media (min-width: 800px) {
    .not-settings-list {
        width: 60%
    }
    #userNotSettingsList {
        width: 60%
    }
    .update-not-setting,
    .cancel-update-not-setting {
        width: 50%
    }
}

@media (min-width: 1200px) {
    #userNotSettingsList {
        width: 40%
    }
}

.list-nav {
    .nav-previous, .nav-next {
        font-size: 22px;
        text-align: center;
        height: 100%;

        > .nav-url {
            position: relative;
            width: 50px;
            height: 50px;
            margin: auto;
            cursor: pointer;

            .icon-chevron-thin-left, .icon-chevron-thin-right {
                position: absolute;
                transform: rotate(90deg);
                display: inline-block;
                top: 14px;
                left: 14px;
            }

            > a {
                position: relative;
                z-index: 100;
                opacity: 0
            }
        }

        > div:hover {
            color: #007bff
        }
    }
}

@media all and (max-width: 720px) {
    .notifications-empty-list {
        .col:first-child {
            display: none
        }
    }
}

@media screen and (max-width: 720px) {
    #notificationsList {
        width: 100%;
    }
}

@media screen and (min-width: 720px) {
    #notificationsList {
        width: 70%;
        margin: auto
    }
}