@media (min-width: 576px) {
  .modal-dialog.modal-xxl {
    max-width: 100%; } }

@media (min-width: 576px) {
  .modal-dialog.modal-xxl {
    max-width: 90%; } }

@media (min-width: 1200px) {
  .modal-dialog.modal-xxl {
    max-width: 75%; } }

#divisionModal .modal-body .form-group div {
  margin-bottom: 20px; }

#employeePosisionModal .modal-footer .row,
#empRespManagement .modal-footer .row {
  width: 100%; }
  #employeePosisionModal .modal-footer .row .col:last-child,
  #empRespManagement .modal-footer .row .col:last-child {
    text-align: end; }

#accountModal #accountModalMainHeader {
  height: 60px; }
  #accountModal #accountModalMainHeader > div {
    height: 100%; }
    #accountModal #accountModalMainHeader > div > p {
      height: 60px;
      margin: 0; }

#accountModal #accountModalMainBody #mainInfoHeader > p,
#accountModal #accountModalMainBody #chooseNewAccOrgHeader > p {
  margin: 0; }

#accountModal #accountModalMainBody .tabs-content #IEOption, #accountModal #accountModalMainBody .tabs-content #LEOption {
  display: none; }

#accountModal #accountModalMainBody #appointMeBody .oval-mark {
  margin-top: 3px; }

#accountModal #accountModalMainBody #userOrgsChoiseList {
  max-height: 500px;
  overflow-y: auto; }
  #accountModal #accountModalMainBody #userOrgsChoiseList .list-group-item {
    user-select: none;
    position: relative;
    z-index: 0; }
  #accountModal #accountModalMainBody #userOrgsChoiseList .list-group-item[class*="active"] {
    cursor: auto; }
  #accountModal #accountModalMainBody #userOrgsChoiseList .list-group-item:not([class*="active"]) {
    cursor: pointer; }

#accountModal .modal-body input[type="number"]::-webkit-outer-spin-button,
#accountModal .modal-body input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#accTeamManagementModal #teamAllEmployees #teamAllEmployeesHeader {
  width: 100%; }

#accTeamManagementModal #teamAllEmployees .card-body {
  width: 100%; }

#accTeamManagementModal #teamAllEmployees #allEmployeesList {
  width: 100%; }

#accTeamManagementModal #teamAllEmployees #allEmployeesNav {
  width: 100%; }

#accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList {
  width: 90%;
  overflow: auto;
  margin-left: 5%; }
  #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card {
    display: flex;
    min-width: 100%;
    height: 150px; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content {
      margin: 5px;
      min-width: 250px;
      max-width: 250px;
      margin: auto;
      margin-left: 5px;
      margin-right: 5px; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager {
        height: 110px; }
        #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager > div > h5 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager .oval-mark {
          z-index: 1000; }
        #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager small {
          position: absolute;
          max-width: 90%;
          overflow-x: hidden;
          text-overflow: ellipsis; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager:not([class="list-group-item account-manager primary-manager"]) {
        cursor: pointer; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager-selected {
        border-color: red; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content:first-child {
      margin-left: 10px; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content:last-child {
      margin-right: 10px; }

#accTeamManagementModal .modal-footer > .row {
  width: 100%; }

#changeLEAddrModal #accAddressNotLegalList {
  max-height: 300px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:first-child {
    margin-top: 10px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:last-child {
    margin-bottom: 10px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:not([class*="active"]) {
    cursor: pointer; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item[class*="active"] {
    user-select: none; }

#responsibilitiesManagmentModal .modal-header {
  height: 65px;
  position: relative; }
  #responsibilitiesManagmentModal .modal-header .icon-add-outline {
    font-size: 22px;
    margin-top: 4.5px;
    margin-left: 10px;
    cursor: pointer; }
  #responsibilitiesManagmentModal .modal-header .icon-add-outline:hover {
    color: #008C95; }

#responsibilitiesManagmentModal #respsBlockMask,
#responsibilitiesManagmentModal #modalHeaderMask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1000; }

#responsibilitiesManagmentModal #respsBlock {
  position: relative;
  background-color: white; }
  #responsibilitiesManagmentModal #respsBlock #responsibilitiesList .list-group-item {
    user-select: none;
    overflow-x: hidden;
    text-overflow: ellipsis; }

#responsibilitiesManagmentModal #newRespBlock {
  display: none;
  width: 94%;
  top: 80px;
  z-index: 1000;
  margin-left: 3%;
  margin-top: 4%;
  margin-bottom: 15px; }
  #responsibilitiesManagmentModal #newRespBlock .row {
    width: 100%;
    margin-left: 0; }
    #responsibilitiesManagmentModal #newRespBlock .row .col-md-auto {
      display: inline-flex;
      cursor: pointer; }

#notSettingOptionsModal {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(149, 155, 161, 0.6), 0px 8px 14px rgba(149, 155, 161, 0.3);
  border-radius: 4px;
  width: 180px;
  position: absolute;
  padding: 5px;
  z-index: 1000; }
  #notSettingOptionsModal > p {
    text-align: center;
    user-select: none;
    margin-bottom: 5px; }
  #notSettingOptionsModal > .row {
    width: 100%;
    margin: 0; }
    #notSettingOptionsModal > .row .col {
      min-width: 100%;
      padding-left: 7px;
      height: 30px; }
      #notSettingOptionsModal > .row .col input {
        cursor: pointer;
        position: relative; }
      #notSettingOptionsModal > .row .col input::after {
        position: absolute;
        content: '';
        background-color: transparent;
        height: 30px;
        width: 160px;
        top: -7px; }
      #notSettingOptionsModal > .row .col label {
        margin-left: 5px;
        user-select: none;
        line-height: 30px; }
