@using GSCrm.Data
@using GSCrm.Helpers
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels.Notifications.EmpUpdate
@using static GSCrm.CommonConsts
@inject ApplicationDbContext context
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model SyncPossNotViewModel

<p class="label-non-select label-md m-0 text-center">
    <a href="/@EMPLOYEE/@Model.ChangedEmployee.Id">@Model.ChangedEmployee.GetFullName()</a>, список занимаемых Вами должностей в организации
    <a href="/@ORGANIZATION/@Model.Organization.Id">@Model.Organization.Name</a> был изменен
</p>