@using GSCrm.Data
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Models.ViewModels.Notifications
@using static GSCrm.CommonConsts
@inject ApplicationDbContext context
@inject ResManager resManager
@using GSCrm.Data.Cash
@inject ICachService cachService
@model AccDeleteNotViewModel

<p class="label-non-select label-md m-0 text-center">
    Клиент @Model.RemovedAccountName, с которым Вы работали, был удален
    Организация: <a href="/@ORGANIZATION/@Model.Organization.Id">@Model.Organization.Name</a>
</p>